<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitPals</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@600&family=Yantramanav&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>

<body>
    <header>
        <nav class="menu">
            <div class="logo">
                <h3>FitPal</h3>
            </div>
            <form class='login' method='POST' action='/auth/login'>
                <input name='username' type='text' placeholder='username' required />
                <input name='password' type='password' placeholder='password' required />
                <input id="loginButton" type='submit' value='Log in' />
            </form>
        </nav>
    </header>

    <div class="loginContainer">
        <div class="loginBanner">
            <h1 class="brandQuote">Dream it. Wish it. Do it.</h1>
            <h1 class="brandStatement">Keep track of your goals with FitPal</h1>
            <p class="registerButton"><a href='/user/new/'>Register</a></p>
        </div>

    </div>

</body>

<footer>Site By Ryan Lugtu</footer>

</html>