<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitPals</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
</head>

<body>
    <header>
        <nav class="menu">
            <div class="logo">
                <h3>FitPals</h3>
            </div>
            <form class='login' method='POST' action='/auth/login'>
                <input name='username' type='text' placeholder='username' required />
                <input name='password' type='password' placeholder='password' required />
                <input id="loginButton" type='submit' value='Log in' />
            </form>
        </nav>
    </header>
    <main>
    </main>
</body>

<footer>Site By Ryan Lugtu</footer>

</html>