<header>
    <nav class="menu">
        <div class="logo">
            <h3>FitPals</h3>
        </div>
        <ul>
            <li><a href="/user">Home</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/schedule">Logout</a></li>
        </ul>
    </nav>
</header>