<header>
    <nav class="menu">
        <div class="logo">
            <h3>FitPals</h3>
        </div>
        <ul class="links">
            <li><a href="/user">Dashboard</a></li>
            <li><a href="/user/schedule">Schedule</a></li>
            <li><a href="/user/completed">Completed</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>