<header>
    <nav class="menu">
        <div class="logo">
            <h3>FitPal</h3>
        </div>
        <ul class="links">
            <li class="navItem"><a href="/user">Dashboard</a></li>
            <li class="navItem"><a href="/user/create">Create</a></li>
            <li class="navItem"><a href="/user/schedule">Schedule</a></li>
            <li class="navItem"><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>