<%- include('./partials/boilerplate') %>

<div class="userPage">
    <div class="userContent">
        <h1>Welcome User</h1>
        <div class="picCrop">
            <img class="proPic"
                src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=720&q=80">
        </div>
        <div class="userInfo">
            <ul class="infoList">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi voluptatem officiis
                    molestias nihil</li>
                <li>Birthday</li>
                <li>Location</li>
                <li>Hobbies</li>
            </ul>
        </div>
    </div>
    <div class="scheduleSummary">
        <div class="upcomingWorkouts">
            <h1>Upcoming Workouts</h1>
            <div class="plannedWorkoutList">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="pastWorkouts">
        <h1>Past Workouts</h1>
        <div class="pastWorkoutsList">
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
        </div>
    </div>
</div>

</div>

<%- include('./partials/end') %>