body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(240,240,240);
    background-image: url('https://images.unsplash.com/photo-1484452330304-377cdeb05340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: auto;
}

footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: black;
    background-color:rgba(234, 234, 234, .5);
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* login */
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login input {
    margin: 5px;
}

/* NAV BAR */

.scheduleContent {
    background-color: rgba(234, 234, 234, .2);
    border-radius: 10px;
}
nav {
    padding: 20px;
    background-color:rgba(103, 128, 159, .5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo {
    font-size: 30px;
    color: rgba(234, 234, 234, 1);
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    font-size: 22px;
    margin: 0px 20px;
}
li {
    text-decoration: none;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgba(234, 234, 234, 1);
}



/* SCHEDULE INDEX */
.scheduleContent {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 5%;
}

.singleWorkouts {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color:rgba(234, 234, 234, .5)
}
.addWorkout {
    background-color:rgba(234, 234, 234, .2);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin: 1em;
    height: 275px;
}
.addWorkout h1 {
    font-size: 1.5em;
    color:  white;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin: 5px 0;
    height: 30px;
    font-size: 18px;
}

.fullSchedule {
    width: 100%;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    margin: 1em;
    
}
.fullSchedule h1{
    font-size: 1.5em;
    color:  rgba(234, 234, 234, 1);
}
.fullSchedule a {
    color: black;
}
.date {
    padding: 5px;
    border-bottom: 1px solid black;
    font-size: 1.5em;
    background-color:rgba(103, 128, 159, 1);
    border-radius: 10px;
    
    
}
.split {
    padding: 5px;
    background-color:rgba(234, 234, 234, .5);
    font-size: 1.2em;
}
.workoutContent {
    padding: 5px;
    font-size: 1em;
}
.status {
    padding: 5px;
    font-size: 1em;
}

/* SINGLE WORKOUT PAGE */

.singleWorkout {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10%;
    margin-top: 50px;
}

.button {
display: inline;
}

/* EDIT FORM */

.editForm h1{
font-size: 20px;
}




