body {
    font-family: 'Poppins', sans-serif;
    background-color:rgb(240,240,240);
    background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1694&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}
.dateText {
    color: white;
}
a {
    text-decoration: none;
    color:white; 
}

main {
    margin: 0 5%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* login PAGE*/
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login input {
    margin: 5px;
}

.loginContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 70vh;
    
}

.loginBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    padding-top: 5%;
    width: 100%;
}
.brandQuote {
    font-size: 6em;
    color: rgb(240,240,240);
    font-family: 'Work Sans', sans-serif;
}
.brandStatement {
    font-size: 3em;
    color: rgb(240,240,240);
    font-family: 'Work Sans', sans-serif;
}

.registerButton {
    font-size: 1.3em;
    background-color: rgba(103, 108, 134, 1);
    padding: 15px 20px;
    border-radius: 10px;
}




/*  REGISTER PAGE */
.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240,240,240);
    border-radius: 20px;
    margin: 0 30%;
    padding: 20px;
    margin-top: 10%;
    width: 30vh;
}
.createAccount {
    margin-top: 15px;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color: rgba(32,32,32,.8);
}
.loginField {
    width: 100%;
}
input {
    border-radius: 5px;
    border: 1px solid rgba(103, 108, 134, 1);
}
.registerField > input {
    border-radius: 5px;
    border: 1px solid rgba(103, 108, 134, 1);
    width: 25vh;
}

.registerField > textarea {
    border-radius: 5px;
    border: 1px solid rgba(103, 108, 134, 1);
    width: 25vh;
    margin: .5em 0;
}

input[type="submit"] {
    border-radius: 10px;
    width: 10vh;
    color: white;
    background-color:  rgba(103, 108, 134, 1);
    height: 2.3em;
    border: none;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    cursor: pointer;
}
.buttonDiv {
    display: flex;
    justify-content: center
}


/* NAV BAR */
.loginNav {
    display: flex;
    flex-direction: column
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    padding: 10px;
}
.logo {
    font-size: 40px;
    color: rgba(240, 240, 240, 1);
    font-family: 'Work Sans', sans-serif;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    font-size: 1.2em;
    margin: 0px 20px;
}


li {
    text-decoration: none;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: rgba(240, 240, 240, 1);
}

nav a:hover {
    color: rgba(32,32,32,.8);
}


/* USER SCHEDULE INDEX */
.scheduleContent {
    display: flex;
    flex-direction: column;
    width:80vw;
    align-items: center;
    margin-top: 40px;
}
.addButtonArea {
    margin-top:2em;
}
.addButton {
    font-size: 1.5em;
}
.bothSchedules {
    display: flex;
}
.scheduleOptions {
    display: flex;
}

.scheduleHeader{
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    color:  rgba(240, 240, 240, 1);
}

.newWorkoutContent {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 30vw;
}

.addWorkout {
    background-color:rgba(240, 240, 240, 1);
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
form.button {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
input {
    margin: 5px 0;
    height: 30px;
    font-size: 1em;
}
input[type=date] {
    font-family: 'Poppins', sans-serif;
}
textarea {
    margin: 8px 0;
    height: 6em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    resize: none;
}

.addWorkoutCenter {
    display: flex;
    justify-content: center;    
}

.fullSchedule {
    width: 30vw;
    display: flex;
    border-radius: 10px;
    flex-direction: column; 
    align-items: center;
    margin: 20px 20px;

}
.fullScheduleContent{
    padding-top: 10px;
    margin-left: 0px;
    width: 100%;
}

.singleWorkouts {
    border-radius: 10px;
    margin-top: 20px; 
    background-color:rgba(240, 240, 240, 1);
    width: 100%;
}



.date {
    padding:10px 15px;
    font-size: 1.1em;
    background-color:rgb(158, 169, 192);
    border-radius: 10px;
}
.date h3 a{
    color:rgba(240, 240, 240, 1);
}
.split {
    padding: 15px;
    font-size: 1em;
}

.split h3 {
    color: rgba(32,32,32,1)
}
.workoutContent {
    padding: 15px;
    font-size: 1em;
    
}
.status {
    padding: 15px;
    font-size: 1em;
    color: rgba(32,32,32,1);
}

/* SINGLE WORKOUT PAGE */

.singleWorkout {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10%;
    margin-top: 6vh;
    background-color: white;
    width:30vw;
}

.singleNotes {
    margin-top: 1em;
}
.options {
    display: flex;
    justify-content: space-evenly;
}

/* EDIT FORM */

.editForm > input {
    margin: 10px 0;
}
.editForm > textarea {
    border: 1px solid rgba(103, 108, 134, 1);
    margin: 10px 0;
    border-radius: 5px;
}
.editForm {
    padding-bottom: 0;
}
.editForm > input {
    border: 1px solid rgba(103, 108, 134, 1);
}
.editForm h1{
font-size: 20px;
}

.editContent {
    margin-top: 6vh;
    width: 50vh;
}

.editOptions {
    display:flex;
    justify-content: space-evenly;
}

.updateButton {
    margin-top: 20px;
}
.backButton {
    padding: 5px;
    border-radius: 10px;
    width: 10vh;
    color: white;
    margin: 20px 0;
    background-color: rgba(103, 108, 134, 1);
    height: 2.3em;
    border: none;
    font-size: 1.2em;
}
.backButton:hover {
    cursor: pointer;
}

select {
    margin-top: 10px;
    padding: 10px;
}


/* USER PAGE */
.userPage {
    display: flex;
    width: 100%;
    margin-top: 6vh;
    justify-content: space-evenly
}

.userContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding:0 30px;
    width: 45vh;
}
.userContent h1{
    font-family: 'Work Sans', sans-serif;
    color: rgb(240,240,240);
    font-size: 2.5em;
}

.picCrop {
    margin-top: 2em;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    
}
.proPic {
    height: auto;
    width: 100%;
    margin-top:-25%;
}
.userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 10px;
    height: auto;
    background-color: rgba(240,240,240, 1);
    border-radius: 10px;
}


li {
  font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 20px;
    color: rgba(32,32,32,1);
}

.userScheduleContent{
    display:flex;
    width: 100vh;
}


.upcomingWorkouts, .pastWorkouts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcomingWorkouts {
    width: 45vh;
    margin: 0 10px;
}
.upcomingWorkouts > h1, .pastWorkouts > h1 {
font-family: 'Work Sans', sans-serif;
   font-size: 2em;
   color: rgba(240,240,240, 1);
}

.pastWorkouts {
    width: 45vh;
    margin: 0 10px;
}


/*  FOOTER */
footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    box-sizing: border-box;
    color: rgb(141, 141, 141);
    width: 100%;
    position: absolute;
    bottom: 0;
}



/* ANIMATIONS */
.userPage {
    animation: fade 1s;
}
/* .singleWorkouts{
    animation: fade 1.5s;
} */

.fadeSlide {
    animation: fade 1s;
}
.singleWorkouts:nth-child(1) {
    animation: fade 1s;
}

.singleWorkouts:nth-child(2) {
    animation: fade 1s;
}

.singleWorkouts:nth-child(3) {
    animation: fade 2s;
}

.singleWorkouts:nth-child(4) {
    animation: fade 2.5s;
}

.singleWorkouts:nth-child(5) {
    animation: fade 3.5s;
}
.singleWorkouts:nth-child(6) {
    animation: fade 4s;
}

.singleWorkouts:nth-child(7) {
    animation: fade 4.5s;
}
.singleWorkouts:nth-child(9) {
    animation: fade 5s;
}
.singleWorkouts:nth-child(10) {
    animation: fade 5.5s;
}



.none {
    display:none;
}

@keyframes fade {
    0%{
        opacity: 0%;
        transform: translateY(3vh)
    }
    100%{
        opacity: 100%;
        transform: translateY(0vh)
    }
}

